# Configuration file

~CONFIG_VERSION: 0.1.0

world-1021985033 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1184572091 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=cobble gen
    B:overlayEnabled=true
}


world-1401305646 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@armor
    B:overlayEnabled=true
}


world-153449571 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=diamon
    B:overlayEnabled=true
}


world-239814170 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1067211423 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world1671577188 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1672562276 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690202930 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world504913133 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@exnihilo
    B:overlayEnabled=true
}


world673748498 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=backpack

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


