# Configuration file

general {

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client-only configs
    ##########################################################################################################

    client {

        ##########################################################################################################
        # debug
        #--------------------------------------------------------------------------------------------------------#
        # Configuration options for debugging vehicles
        ##########################################################################################################

        debug {
            # If true, renders an outline of all the elements on a vehicle's model. Useful for debugging interactions.
            B:"Render Vehicle Outlines"=false
        }

        ##########################################################################################################
        # interaction
        #--------------------------------------------------------------------------------------------------------#
        # Configuration options for vehicle interaction
        ##########################################################################################################

        interaction {
            # If true, raytraces will be performed on nearby vehicles when left-clicking the mouse, rather than just right-clicking it. This allows one to be damaged/broken when clicking anywhere on it, rather than just on its bounding box.
            B:"Left-Click Enabled"=true
        }

        ##########################################################################################################
        # display
        #--------------------------------------------------------------------------------------------------------#
        # Configuration for display related options
        ##########################################################################################################

        display {
            # If true, automatically switches to third person when mounting vehicles
            B:"Auto Perspective"=true

            # If true, displays a speedometer on the HUD when driving a vehicle
            B:"Show Speedometer"=true
        }

    }

}


